@font-face {
    font-family: "Harmonia Sans Pro Cyr";
    font-weight: normal;
    font-style: normal;
    src: url("../public/fonts/HarmoniaSansProCyr-Regular.otf");
}
@font-face {
    font-family: "Harmonia Sans Pro Cyr";
    font-weight: 600;
    font-style: normal;
    src: url("../public/fonts/HarmoniaSansProCyr-SemiBd.otf");
}
@font-face {
    font-family: "Harmonia Sans Pro Cyr";
    font-weight: bold;
    font-style: normal;
    src: url("../public/fonts/HarmoniaSansProCyr-Bold.otf");
}
@font-face {
    font-family: "Harmonia Sans Pro Cyr";
    font-weight: normal;
    font-style: italic;
    src: url("../public/fonts/HarmoniaSansProCyr-Italic.otf");
}
@font-face {
    font-family: "Harmonia Sans Pro Cyr";
    font-weight: bold;
    font-style: italic;
    src: url("../public/fonts/HarmoniaSansProCyr-BoldIt.otf");
}
@font-face {
    font-family: "Gotham Pro";
    font-weight: bold;
    font-style: normal;
    src: url("../public/fonts/GothamProBold.otf");
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: Harmonia Sans Pro Cyr, sans-serif;
    background-color: #E9E9E9;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.outer-container {
    -webkit-perspective: 1500px;
    perspective: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}
.main-content {
    position: relative;
    min-height: 100vh;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* slider */
.main-content .bg-slider-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.main-content .bg-slider .bg-slider--item {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: #000000;
}
.main-content .bg-slider .bg-slider--item .play-square {
    width: 50vh;
    height: 50vh;
    position: absolute;
    left: calc(50% - 50vh / 2);
    top: calc(50% - 50vh / 2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main-content .bg-slider .bg-slider--item .play-square .play-button {
    width: 52px;
    height: 52px;
    position: absolute;
    bottom: -26px;
    right: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #005798;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button:hover {
    background-color: #ffffff;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button .sign {
    width: 20px;
    height: 20px;
    border-width: 10px 0 10px 20px;
    border-style: solid ;
    border-color: transparent transparent transparent #ffffff;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-left: 4px;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button:hover .sign {
    border-color:  transparent transparent transparent #005798;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button .sign.playing {
    border-width: 0;
    background-color: #ffffff;
    margin-left: 0;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button:hover .sign.playing {
    background-color: #005798;
}
.main-content .bg-slider video {
    width: 100%;
    min-height: 100vh;
    opacity: 0.4;
}
.main-content .bg-slider .owl-dots {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main-content .bg-slider .owl-dot {
    width: 100px;
    height: 4px;
    background-color: #ffffff;
    margin: 21px;
}
.main-content .bg-slider .owl-dot.active {
    background-color: #005798;
}
/* HEADER */
.main-content .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 38px 58px;
    font-weight: 600;
}
.main-header .header-logo > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-header .header-logo > a > img {
    margin-right: 18px;
}
.main-header .header-logo .company-name {
    font-size: 18px;
}
.main-header .header-logo .company-desc {
    font-size: 10px;
    text-transform: uppercase;
}
.main-header .header-leader > img,
.main-header .header-leader-text {
    vertical-align: middle;
}
.main-header .menu-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.main-header .menu-toggler .burger {
    margin-left: 17px;
    position: relative;
    width: 24px;
    height: 16px;
}
.main-header .menu-toggler .burger .burger-bar,
.main-header .menu-toggler .burger::before,
.main-header .menu-toggler .burger::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    left: 0;
    top: 0;
    width: 24px;
}
.main-header .menu-toggler .burger::before {
    top: 6px;
    width: 14px;
}
.main-header .menu-toggler .burger::after {
    top: 12px;
}
/* MAIN-CONTENT */
.screen-content {
    padding-left: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.screen-content .screen-content-header {
    max-width: 651px;
}
.screen-content .screen-content-header::after {
    content: '';
    width: 100px;
    height: 6px;
    background-color: #ffffff;
    margin: 62px 0;
    display: block;
}
.screen-content h1 {
    font-size: 60px;
    line-height: 59px;
    font-weight: bold;
}
.screen-content .main-activity {
    max-width: 436px;
    margin-bottom: 66px;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
}
.screen-content .register {
    background-color: transparent;
    border: 4px solid #005798;
    padding: 14px 25px 10px 29px;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    vertical-align: center;
    color: #ffffff;
    -webkit-transition-property: background-color, border-bottom-color, border-top-color, border-left-color, border-right-color;
    -o-transition-property: background-color, border-bottom-color, border-top-color, border-left-color, border-right-color;
    transition-property: background-color, border-bottom-color, border-top-color, border-left-color, border-right-color;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}
.screen-content .register:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #005798;
}
.screen-content .register .register-image {
    margin-left: 12px;
}
.footer {
    position: absolute;
    left: 10vw;
    bottom: 29px;
    font-size: 11px;
    line-height: 16px;
}
/* MENU */
.outer-container .menu {
    position: absolute;
    height: 100vh;
    width: 40vw;
    top: 0;
    right: -40vw;
    -webkit-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
    overflow-y: auto;
}
.menu .menu-closer,
.menu .menu-closer::before,
.menu .menu-closer::after {
    content: '';
    position: absolute;
}
.menu .menu-closer {
    top: 3vh;
    right: 4vw;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.menu .menu-closer::before,
.menu .menu-closer::after {
    background-color: #2E2E2E;
}

.menu .menu-closer::before {
    left: 11px;
    width: 2px;
    height: 24px;
    top: 0;
}
.menu .menu-closer::after {
    top: 11px;
    height: 2px;
    width: 24px;
    left: 0;
}
.menu .link-menus-container {
    padding: 9vh 0 0 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.menu .link-menus-container .links-container {
    width: 50%;
}
.menu .link-menus-container .links-container h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #00569B;
}
.menu .link-menus-container .links-container > ul {
    list-style: none;
    padding-left: 0;
}
.menu .link-menus-container .links-container a {
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    color: #2E2E2E;
    line-height: 40px;
}
.menu .link-menus-container .links-container a:hover::after {
    content: '';
    width: 100%;
    background-color: #00569B;
    height: 2px;
    display: block;
    margin-top: -2px;
}
.menu .call-order {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.menu .call-order .order-call {
    border: none;
    color: #005798;
    padding:  10px 18px;
    background: rgba(0, 87, 152, 0.11);
    mix-blend-mode: normal;
    border-radius: 1px;
    cursor: pointer;
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 27px;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.menu .call-order .order-call:hover {
    background-color: rgba(0, 87, 152, 0.25);;
}
.menu .call-order .order-call > img {
    vertical-align: middle;
}
/* popup registration */
.popup-registration {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
.popup-registration .popup-inner {
    max-width: 403px;
    margin: 10vh auto 0;
    background: #F8F8F8;
    border-radius: 2px;
    color: #000000;
    padding: 27px 2.5vw;
}
.popup-registration .popup-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    font-style: normal;
}
.popup-registration .popup-closer {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: relative;
    opacity: 0.43;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.popup-registration .popup-closer:hover {
    opacity: 1;
}
.popup-registration .popup-closer::before,
.popup-registration .popup-closer::after {
    position: absolute;
    content: '';
    background-color: #000000;
}

.popup-registration .popup-closer::before {
    left: 11px;
    width: 2px;
    height: 24px;
    top: 0;
}
.popup-registration .popup-closer::after {
    top: 11px;
    height: 2px;
    width: 24px;
    left: 0;
}
.popup-registration .form-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.popup-registration .form-switch {
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #DCDCDC;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    padding: 21px 0;
}
.popup-registration .form-switch.active {
    background-color: #005798;
    border: none;
    color: #ffffff;
    cursor: default;
}
.popup-registration form {
    margin-top: 27px;
}
.popup-registration label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.popup-registration input,
.popup-registration select {
    font-size: 15px;
    line-height: 18px;
    padding: 22px;
    display: block;
    width: 100%;
    margin:  12px 0 27px;
    border: 1px solid #DCDCDC;
    background-color: transparent;
}
.popup-registration select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("../public/select.png") no-repeat;
    background-position: 95% center ;
}
.popup-registration input::-moz-placeholder,
.popup-registration input::-webkit-input-placeholder {
    opacity: 0.3;
}
.popup-registration .number-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin:  12px 0 27px;
}
.popup-registration .number-plus input {
    margin: 0;
}
.popup-registration .number-plus input::-moz-placeholder,
.popup-registration .number-plus input::-webkit-input-placeholder {
    text-align: center;
    letter-spacing: 7px;
}
.popup-registration .number-plus .seven {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    content: '+7';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #DCDCDC;
    border-right: none;
}
.popup-registration .submit-container {
    text-align: center;
}
.popup-registration .submit-container button {
    padding: 14px 32px;
    background-color: #005798;
    color: #ffffff;
    -webkit-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
    border: none;
    border-radius: 27px;
    font-family: Ubuntu, "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.793684px;
    text-transform: uppercase;
}
.popup-registration .submit-container button:hover {
    color: #005798;
    background-color: #ffffff;
}
/* MENU-RELATED EFFECTS */
.outer-container.menu-open .main-content {
    -webkit-transform: translate3d(-450px, 0, -1100px) rotateY(40deg);
    transform: translate3d(-450px, 0, -1100px) rotateY(40deg);
}
.outer-container.menu-open .menu {
    right: 0;
}