* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
.main-content {
    position: relative;
}
.main-content .bg-slider-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.main-content .bg-slider .bg-slider--item {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: #000000;
}
.main-content .bg-slider .bg-slider--item .play-square {
    width: 523px;
    height: 523px;
    position: absolute;
    left: calc(50% - 523px / 2);
    top: calc(50% - 523px / 2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(-45deg);
}
.main-content .bg-slider .bg-slider--item .play-square .play-button {
    width: 52px;
    height: 52px;
    position: absolute;
    bottom: -26px;
    right: 50%;
    transform: rotate(45deg);
    background-color: #005798;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button:hover {
    background-color: #ffffff;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button .sign {
    width: 20px;
    height: 20px;
    border-width: 10px 0 10px 20px;
    border-style: solid ;
    border-color: transparent transparent transparent #ffffff;
    transition: all 0.15s;
    margin-left: 4px;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button:hover .sign {
    border-color:  transparent transparent transparent #005798;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button .sign.playing {
    border-width: 0;
    background-color: #ffffff;
    margin-left: 0;
}
.main-content .bg-slider .bg-slider--item .play-square .play-button:hover .sign.playing {
    background-color: #005798;
}
.main-content .bg-slider video {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.main-content .bg-slider .owl-dots {
    position: absolute;
    bottom: 51px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.main-content .bg-slider .owl-dot {
    width: 100px;
    height: 4px;
    background-color: #ffffff;
    margin: 21px;
}
.main-content .bg-slider .owl-dot.active {
    background-color: #005798;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 Saurabh Sharma
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(./public/owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }


/*# sourceMappingURL=index.css.map*/